.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family:"PTSans";
    padding-left: 192px;
    padding-right: 192px;
} 

.title-secondary{
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: left;
    text-underline-position:from-font;
    text-decoration-skip-ink: none;
    color: #111827;
}
.line-24{
line-height: 24px;
}
.weight-400{
font-weight: 400;
}
.font-16{
    font-size: 16px;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}
.line-40{
    line-height: 40px;
}
.font-36{
    font-size: 36px;
}
.weight-900{
    font-weight: 900;
}
.line-32{
    line-height: 32px;
}
.font-24{
    font-size: 24px;
}
.weight-300{
    font-weight: 300;
}
a{
    color: black;
    text-decoration: none;
}
.purple{
    background-color:#8B5CF6;
    color: #F9FAFB;

}
.weight-700{
    font-weight: 700;
}
.font-20{
    font-size: 20px;
}
.line-28{
    line-height: 28px;
}
.black{
    color:#000000;
}
.gray{
    color: #111827;
}
.font-30{font-size: 30px;}
.line-36{line-height: 36px;}
.section__title{
font-size: 30px;
font-weight: 900;
line-height: 36px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.font-14{
    font-size: 14px;
}
.line-20{
    line-height: 20px;
}
.margin-0-auto{
    margin: 0 auto;
}
.font-18{
    font-size: 18px;
}
.bg-gray{
    background-color: #E5E7EB;
}
.white{
    color: white;
}
.font-12{
    font-size: 12px;
}
.line-16{
    line-height: 16px;
}